{%extends "base.html"%} {%block content%}
<form action="POST"></form>
<h1>Meet the Team!</h1>

<div class="employees"></div>
<div class="employee-card">
  <img class="profile-image" src="employee1.jpg" alt="Employee 1" />
  <h2>Andres Angel</h2>
  <p>UX/UI, Scrum Master</p>
  <p>Experience: 5 years</p>
</div>

<div class="employee-card">
  <img class="profile-image" src="employee2.jpg" alt="Employee 2" />
  <h2>Brianna Black</h2>
  <p>Engineering Manager, Backend Engineer</p>
  <p>Experience: 3 years</p>
</div>

<div class="employee-card">
  <img class="profile-image" src="employee3.jpg" alt="Employee 3" />
  <h2>Andres Cavalie</h2>
  <p>Software Architect, QA Engineer</p>
  <p>Experience: 4 years</p>
</div>

<div class="employee-card">
  <img class="profile-image" src="employee4.jpg" alt="Employee 4" />
  <h2>Ethan Craig</h2>
  <p>Backend Engineer, QA Engineer</p>
  <p>Experience: 2 years</p>
</div>

<div class="employee-card">
  <img class="profile-image" src="employee5.jpg" alt="Employee 5" />
  <h2>Daniel Duggin</h2>
  <p>Position: Sommelier</p>
  <p>Experience: 6 years</p>
</div>
{%endblock%}
