{%extends "base.html"%} {%block content%}
<form action="POST"></form>
<div class="about-container">
  <h1>Meet the Team!</h1>

  <div class="employees"></div>
  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 1"
    />
    <h2>Andres Angel</h2>
    <p>Ux/UI</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 2"
    />
    <h2>Brianna Black</h2>
    <p>Engineering Manager, UX/UI</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 3"
    />
    <h2>Andres Cavalie</h2>
    <p>Software Architect, Scrum Master</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 4"
    />
    <h2>Ethan Craig</h2>
    <p>Backend Engineer, QA Engineer</p>
  </div>

  <div class="employee-card">
    <img
      class="profile-image"
      src="../static/Images/profile.jpeg"
      alt="Employee 5"
    />
    <h2>Daniel Duggin</h2>
    <p>Position: UX/UI, POC</p>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .about-container {
    margin-top: 125px;
    text-align: center;
  }

  .employee-card {
    display: inline-block;
    width: 250px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    display: block;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
    margin: 5px 0;
  }
</style>
{%endblock%}
