{%extends "base.html"%} {%block content%}
<form action="POST"></form>
<div class="recipe-container"></div>
<div class="recipe-container">
  <!-- Recipe 1 -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 30 minutes</li>
        <li>Servings: 4</li>
        <li>Calories: 250</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>
  <!-- End Recipe 1 -->

  <!-- Recipe 2 -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 45 minutes</li>
        <li>Servings: 6</li>
        <li>Calories: 300</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>
  <!-- End Recipe 2 -->

  <!-- Recipe 3 -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 30 minutes</li>
        <li>Servings: 4</li>
        <li>Calories: 250</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>

  <!-- Recipe 4 -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 30 minutes</li>
        <li>Servings: 4</li>
        <li>Calories: 250</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>

  <!-- Recipe 5 -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 30 minutes</li>
        <li>Servings: 4</li>
        <li>Calories: 250</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>

  <!-- RECIPE 6 START -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 30 minutes</li>
        <li>Servings: 4</li>
        <li>Calories: 250</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>

  <!-- RECIPE 6 END -->

  <!-- RECIPE 7 START -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 30 minutes</li>
        <li>Servings: 4</li>
        <li>Calories: 250</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>
  <!-- RECIPE 8 END -->

  <!-- RECIPE 8 START -->
  <div class="recipe-card">
    <img
      src="../static/Images/chicken-and-waffle.webp"
      alt="chicken-and-waffle"
    />
    <div class="recipe-details">
      <ul>
        <li>Time: 30 minutes</li>
        <li>Servings: 4</li>
        <li>Calories: 250</li>
      </ul>
    </div>
    <p class="recipe-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut magna
      sit amet tortor.
    </p>
    <button class="save-button">Save Recipe</button>
    <button class="info-button">More Info</button>
  </div>
  <!-- RECIPE 8 END -->
</div>
{%endblock%}
