{%extends "base.html"%} {%block content%}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<style>
    .starRadio {
        display: none;
    }
</style>
<script>
    window.onload = startupFunction;

    function startupFunction() {
    // Store the initial state of the recipe container in the browser's history
    let star_icons = document.querySelectorAll(".rating-icon");
    let star_value = document.getElementById("star_value")
    star_icons.forEach((button)=>{
        button.addEventListener("click", (e) => {
            icon_value = e.target.getAttribute("value")
            star_unclicked = e.target.classList.contains("fa-regular")
            if  (star_unclicked){
                star_value.setAttribute("value",icon_value)
                for (let i=0; i < icon_value ; i++){
                    star_icons[i].classList.remove("fa-regular")
                    star_icons[i].classList.add("fa-solid")
                }
            } else {
                star_value.setAttribute("value","0")
                star_icons.forEach((button)=>{
                    button.classList.add("fa-regular")
                    button.classList.remove("fa-solid")
                })
            }
        });
    })
    }
    function deleteReview(recipe_id) {
        fetch("/delete-review", {
        method: "POST",
        body: JSON.stringify({ recipe_id: recipe_id }),
        }).then((_res) => {
        window.location.href = "/recipe/"+recipe_id;
        });
    }
</script>
<div style="margin-top: 200px; display:block"></div>
{% if current_user.id == recipe.user_id %}
<a href="/recipe/{{recipe.id}}/edit">edit</a>
{% endif %}
<ul>
<li>{{recipe.rating}}</li>
<li>{{recipe.id}}</li>
<li>{{recipe.user_id}}</li>
<li>{{recipe.name}}</li>
<li>{{recipe.instructions}}</li>
<li>{{recipe.hours}}</li>
<li>{{recipe.minutes}}</li>
<li>{{recipe.calories}}</li>
<li>{{recipe.description}}</li>
<li>{{recipe.image}}</li>
<li>{{recipe.ingredients}}</li>
<li>{{recipe.category_id}}</li>
<li>{{recipe.favorited}}</li>
<li>{{recipe.category}}</li>
<li>{{recipe.difficulty}}<li>
</ul>
<form action="/review" method="POST">
<div class="review-container">
    <input type="hidden" id="noStars" name="recipe_id" value="{{recipe.id}}">
    <input type="hidden" id="star_value" name="star_value" value="0">
    <i class="fa-regular fa-star rating-icon" value="1"></i>
    <i class="fa-regular fa-star rating-icon" value="2"></i>
    <i class="fa-regular fa-star rating-icon" value="3"></i>
    <i class="fa-regular fa-star rating-icon" value="4"></i>
    <i class="fa-regular fa-star rating-icon" value="5"></i>
    <input type="text" id="review" name="review">
</div>
<button type="submit">submit</button>
</form>
{% for review in reviews.reviews %}
    {% include "review_card.html" %}
{% endfor %}
{%endblock%}
