{%if element.get('favorited') %}
{% set favoriteButtonText = "Saved" %}
{% set favoriteClass = "favorited" %}
{%else%}
{% set favorited = "Save Recipe" %}
{%endif%}

<div class="recipe-card">
  <img
    src="../static/Images/chicken-and-waffle.webp"
    alt="chicken-and-waffle"
  />
  <div class="recipe-details">
    <ul>
      <li>Time: {{element.get('minutes')}} minutes</li>
      <li>Servings: 4</li>
      <li>Calories: {{element.get('calories')}}</li>
    </ul>
  </div>
  <p class="recipe-description">{{element.get('name')}}</p>
  <button class="save-button {{favoriteClass}}" onClick="favoriteToggle({{favoriteButtonText}})"></button>
  <button class="info-button">More Info</button>
</div>
