{%extends "base.html"%} {%block content%}
<link rel="stylesheet" href="../static/recipe.css">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<div class="recipe-info-container">
  {% if current_user.id == recipe.user_id %}
    <a href="/edit/{{ recipe.id }}" class="edit-recipe-link">
      <i class="fas fa-edit"></i> Edit
    </a>
  {% endif %}
  <ul class="info-list">
    <li>
      <div class="rating" value="{{recipe.rating}}">
        <i class="fa-regular fa-star" value="1"></i>
        <i class="fa-regular fa-star" value="2"></i>
        <i class="fa-regular fa-star" value="3"></i>
        <i class="fa-regular fa-star" value="4"></i>
        <i class="fa-regular fa-star" value="5"></i>
      </div>
    </li>
    <li>{{recipe.image}}</li>
    <li>{{ recipe.name }}</li>
    <li>Description: {{ recipe.description }}</li>
    <li>Cooking Time: {{ recipe.hours }} hrs {{ recipe.minutes }} mins</li>
    <li>Calories: {{ recipe.calories }}</li>
    <li>Ingredients: {{ ingredients | join(', ') }}</li>
    <li>Instructions: {{ recipe.instructions }}</li>
    <li>Difficulty: {{ recipe.difficulty }} Category: {{ recipe.category }}</li>
    <li>Submitted by user: {{ recipe.user_id }}</li>
  </ul>

  <form action="/review" method="POST">
    <div class="review-container">
      <input
        type="hidden"
        id="noStars"
        name="recipe_id"
        value="{{recipe.id}}"
      />
      <input type="hidden" id="star_value" name="star_value" value="0" />
      <div class="reviewbox">
      <i class="fa-regular fa-star rating-icon" value="1"></i>
      <i class="fa-regular fa-star rating-icon" value="2"></i>
      <i class="fa-regular fa-star rating-icon" value="3"></i>
      <i class="fa-regular fa-star rating-icon" value="4"></i>
      <i class="fa-regular fa-star rating-icon" value="5"></i>
      </div>
      <input type="text" id="review" name="review" />
    </div>
    <button type="submit">submit</button>
  </form>
  {% for review in reviews.reviews %} {% include "review_card.html" %} {% endfor
  %} {%endblock%}
</div>
